<html>
	<head>
		<title>baidudl</title>

		<script src="/resource/angular.min.js"></script>
		<script src="/popup/chrome_api.js"></script>
		<script src="/popup/controller.js"></script>
	</head>

	<body>
		<div id='app'ng-app="app" ng-csp ng-controller='control'>
			<table ng-hide='!status'>
				<tr>
					<td>文件名</td>
					<td>链接</td>
					<td><button style="width: 45px" ng-click="copyAll('dlink')">全选</button></td>
					<td>链接</td>
					<td><button style="width: 45px" ng-click="copyAll('hlink')">全选</button></td>
				</tr>
				<tr ng-repeat="x in links">
					<td><input style="width: 330px" type='text' value={{x.path}} ng-disabled='true'></td>
					<td><input style="width: 70px" type='text' value={{x.dlink}} ng-disabled='true'></td>
					<td><button style="width: 45px" ng-click="copy($index, 'dlink')">复制</button></td>
					<td><input style="width: 70px" type='text' value={{x.hlink}} ng-disabled='true'></td>
					<td><button style="width: 45px" ng-click="copy($index, 'hlink')">复制</button></td>
				</tr>
			</table>			
			<div ng-hide='!status'><button ng-click="prev()">&lt;</button>{{page}}<button ng-click="next()">&gt;</button></div>
			<p>{{message}}</p>
			<table id='vcode_table'>				
				<tr ng-repeat="x in vcodes">
					<td><img ng-src='https://pan.baidu.com/genimage?{{x.vcode_str}}'></td>
					<td><input type='text' ng-model='vcode_input'></td>
					<td><button ng-click="verify(x.vcode_str, vcode_input, x.index)">verify</button></td>
					<td><button ng-click="verify(x.vcode_str, vcode_input, x.index)">refresh</button></td>
				</tr>
			</table>
		</div>
	</body>
</html>

