<html>
	<head>
		<title>BaiduPan Exlorer</title>

		<script src="/resource/angular.min.js"></script>
		<script src="/popup/controller.js"></script>
	</head>

	<body>
		<div id='app'ng-app="app" ng-csp ng-controller='control'>
			<table ng-hide='!status'>
				<tr>
					<td>文件名</td>
					<td>链接</td>
					<td><button ng-click="generateAll()">GenerateAll</button></td>
					<td><button ng-click="copyAll('hlink')">CopyAll</button></td>
				</tr>
				<tr ng-repeat="x in links">
					<td><input style="width: 300px" type='text' value={{x.path}} ng-disabled='true'></td>
					<td><input style="width: 50px"type='text' value={{x.hlink}} ng-disabled='true'></td>
					<td><button ng-click="generate($index)">生成</button></td>
					<td><button ng-click="copy($index, 'hlink')">复制</button></td>
				</tr>
			</table>
			<div ng-hide='!status'><button ng-click="prev()">&lt;</button>{{page}}<button ng-click="next()">&gt;</button></div>
			<p>{{message}}</p>
		</div>
	</body>
</html>

